<h6>Dashboard</h6>
<h3>Logged in as {{name}}</h3>
<p>Your stories here...</p>
{{#if stories}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td><a href="/stories/{{_id}}">{{title}}</a></td>
            <td>{{formatDate  'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>Currently you don't have any stories</p>
{{/if}}